In [1]:
import os, sys
import numpy as np
import pandas as pd

In [2]:
# Get the weather data from all csv files and combine together
weather_data = pd.concat([pd.read_csv("weather/" + file, header=14) for file in os.listdir("Weather")])

# Parse the hour
weather_data = weather_data.rename(columns={'Time': 'Hour'})
weather_data['Hour'] = weather_data['Hour'].apply(lambda x: int(x[:2]))

# Get only the useful columns
weather_data = weather_data[['Year', 'Month', 'Day', 'Hour', 'Weather']].dropna()
'''
weather_data = weather_data.drop([
    'Date/Time',
    'Data Quality',
    'Temp Flag',
    'Dew Point Temp Flag',
    'Rel Hum Flag',
    'Wind Dir Flag',
    'Wind Spd Flag',
    'Visibility Flag',
    'Stn Press Flag',
    'Hmdx',
    'Hmdx Flag',
    'Wind Chill',
    'Wind Chill Flag'
], axis=1)
'''

print(weather_data.shape)
weather_data.head(10)

(5653, 5)

    Year  Month  Day  Hour       Weather
1   2016      5    1     1         Clear
4   2016      5    1     4         Clear
7   2016      5    1     7  Mainly Clear
10  2016      5    1    10  Mainly Clear
13  2016      5    1    13  Mainly Clear
16  2016      5    1    16         Clear
19  2016      5    1    19         Clear
22  2016      5    1    22         Clear
25  2016      5    2     1         Clear
28  2016      5    2     4         Clear

In [3]:
# See what kind of weather we are dealing with
print(weather_data.groupby(['Weather']).agg('count'))

                                              Year  Month   Day  Hour
Weather
Clear                                          586    586   586   586
Cloudy                                        1181   1181  1181  1181
Drizzle                                         22     22    22    22
Drizzle,Fog                                     18     18    18    18
Fog                                             50     50    50    50
Freezing Fog                                     4      4     4     4
Freezing Rain,Fog                                4      4     4     4
Heavy Rain                                       2      2     2     2
Heavy Rain Showers,Moderate Snow Pellets,Fog     1      1     1     1
Heavy Rain,Fog                                   4      4     4     4
Heavy Rain,Moderate Hail,Fog                     1      1     1     1
Ice Pellets                                      1      1     1     1
Mainly Clear                                   962    962   962   962
Moderate Rain                                   51     51    51    51
Moderate Rain Showers                            4      4     4     4
Moderate Rain Showers,Fog                        2      2     2     2
Moderate Rain,Drizzle                            2      2     2     2
Moderate Rain,Fog                               27     27    27    27
Moderate Snow                                    6      6     6     6
Moderate Snow,Fog                                1      1     1     1
Mostly Cloudy                                 1039   1039  1039  1039
Rain                                          1108   1108  1108  1108
Rain Showers                                   270    270   270   270
Rain Showers,Fog                                 7      7     7     7
Rain Showers,Snow Pellets                        1      1     1     1
Rain Showers,Snow Showers                        2      2     2     2
Rain Showers,Snow Showers,Fog                    1      1     1     1
Rain,Drizzle                                     9      9     9     9
Rain,Drizzle,Fog                                12     12    12    12
Rain,Fog                                       132    132   132   132
Rain,Ice Pellets                                 1      1     1     1
Rain,Snow                                       14     14    14    14
Rain,Snow,Fog                                    3      3     3     3
Snow                                           101    101   101   101
Snow Showers                                    12     12    12    12
Snow,Fog                                         7      7     7     7
Snow,Ice Pellets,Fog                             1      1     1     1
Thunderstorms                                    3      3     3     3
Thunderstorms,Rain Showers                       1      1     1     1

In [4]:
# Create two new columns for seperation
weather_data["Visibility"] = "Undefined"
weather_data["Pricipitation"] = "None"

# Change pricipitation column
weather_data.loc[weather_data["Weather"].str.contains("Rain", False), "Pricipitation"] = "Rain"
weather_data.loc[weather_data["Weather"].str.contains("Drizzle", False), "Pricipitation"] = "Rain"
weather_data.loc[weather_data["Weather"].str.contains("Thunderstorms", False), "Pricipitation"] = "Rain"
weather_data.loc[weather_data["Weather"].str.contains("Snow", False), "Pricipitation"] = "Snow"
weather_data.loc[weather_data["Weather"].str.contains("Ice Pellets", False), "Pricipitation"] = "Snow"

# Change visibility column
weather_data.loc[weather_data["Weather"].str.contains("Clear", False), "Visibility"] = "Clear"
weather_data.loc[weather_data["Weather"].str.contains("Cloudy", False), "Visibility"] = "Cloudy"
weather_data.loc[weather_data["Weather"].str.contains("Fog", False), "Visibility"] = "Fog"
print(weather_data.groupby(['Visibility', 'Pricipitation']).agg('count'))

                          Year  Month   Day  Hour  Weather
Visibility Pricipitation
Clear      None           1548   1548  1548  1548     1548
Cloudy     None           2220   2220  2220  2220     2220
Fog        None             54     54    54    54       54
           Rain            207    207   207   207      207
           Snow             14     14    14    14       14
Undefined  Rain           1472   1472  1472  1472     1472
           Snow            138    138   138   138      138

In [5]:
# Make assumptions that visibility is clear when snow, and cloudy when rain
weather_data.loc[(weather_data["Visibility"] == 'Undefined') & (weather_data['Pricipitation'] == 'Snow'), 'Visibility'] = 'Clear'
weather_data.loc[(weather_data["Visibility"] == 'Undefined') & (weather_data['Pricipitation'] == 'Rain'), 'Visibility'] = 'Cloudy'
weather_data = weather_data.drop(['Weather'], axis=1)
weather_data

     Year  Month  Day  Hour Visibility Pricipitation
1    2016      5    1     1      Clear          None
4    2016      5    1     4      Clear          None
7    2016      5    1     7      Clear          None
10   2016      5    1    10      Clear          None
13   2016      5    1    13      Clear          None
16   2016      5    1    16      Clear          None
19   2016      5    1    19      Clear          None
22   2016      5    1    22      Clear          None
25   2016      5    2     1      Clear          None
28   2016      5    2     4      Clear          None
31   2016      5    2     7      Clear          None
34   2016      5    2    10      Clear          None
37   2016      5    2    13      Clear          None
40   2016      5    2    16     Cloudy          None
43   2016      5    2    19      Clear          None
46   2016      5    2    22     Cloudy          None
49   2016      5    3     1      Clear          None
52   2016      5    3     4     Cloudy          None
54   2016      5    3     6     Cloudy          Rain
55   2016      5    3     7     Cloudy          None
56   2016      5    3     8     Cloudy          Rain
58   2016      5    3    10     Cloudy          None
61   2016      5    3    13     Cloudy          None
64   2016      5    3    16     Cloudy          None
67   2016      5    3    19     Cloudy          None
68   2016      5    3    20     Cloudy          Rain
70   2016      5    3    22     Cloudy          Rain
71   2016      5    3    23     Cloudy          Rain
73   2016      5    4     1     Cloudy          None
76   2016      5    4     4     Cloudy          None
..    ...    ...  ...   ...        ...           ...
664  2017     10   28    16      Clear          None
667  2017     10   28    19      Clear          None
670  2017     10   28    22      Clear          None
673  2017     10   29     1      Clear          None
676  2017     10   29     4        Fog          None
677  2017     10   29     5        Fog          None
678  2017     10   29     6        Fog          None
679  2017     10   29     7        Fog          None
680  2017     10   29     8        Fog          None
682  2017     10   29    10        Fog          None
685  2017     10   29    13      Clear          None
688  2017     10   29    16     Cloudy          None
691  2017     10   29    19      Clear          None
694  2017     10   29    22      Clear          None
697  2017     10   30     1      Clear          None
700  2017     10   30     4      Clear          None
703  2017     10   30     7      Clear          None
706  2017     10   30    10      Clear          None
709  2017     10   30    13      Clear          None
712  2017     10   30    16      Clear          None
715  2017     10   30    19      Clear          None
718  2017     10   30    22      Clear          None
721  2017     10   31     1      Clear          None
724  2017     10   31     4      Clear          None
727  2017     10   31     7     Cloudy          None
730  2017     10   31    10     Cloudy          None
733  2017     10   31    13     Cloudy          None
736  2017     10   31    16      Clear          None
739  2017     10   31    19      Clear          None
742  2017     10   31    22      Clear          None

[5653 rows x 6 columns]

In [6]:
# Save the weather
weather_data.to_csv('Weather.csv', index = False,encoding='utf-8')